@import "tailwindcss";

:root {
  --background: #F5F5F7;
  --foreground: #111111;
  --muted: #6b7280;       /* subtle gray text */
  --border: #e5e7eb;      /* light gray border */
  --accent: #2563eb;      /* optional accent (blue, very subtle) */
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
